meta(charset='utf-8')
title Boilerplate
meta(http-equiv='X-UA-Compatible', content='IE=edge')
link(rel='stylesheet', href='public/bower_components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='public/website/css/main.min.css')